extends layout

block content
  h1= title

  .row
    each car in results
      .col-3
        p Car Make: #{car.cars_make}
        p Car Model: #{car.cars_model}
        p Car Year: #{car.cars_year}
